.section-heading{
    font-size: 40px;
    font-weight: bold;
    margin-top: 13%;
    color:  	#6C1D5F;
  }
  
  .section-subsubheading{
    margin-top: 40px;
  }
  
  .section-subheading{
    margin-top: 40px;
    font-size: 30px;
    color:  	#6C1D5F;
    margin-bottom: 40px;
  }
  